*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.footer{
	background-color: rgb(177, 199, 253);
	border-top: 2px solid rgb(91, 140, 229);
	margin-top: 20px;
	padding: 25px;
}

.titulo{
	color: rgb(125, 143, 195);
}

.form-selector{
	width: 75%;
	margin: 0 auto;
}

.administracion, .inmobiliaria, .terraza{
	width: 88%;
	margin: 0 auto;
	margin-top: 40px;
	box-shadow: -4px 6px 9px 3px rgba(0,0,0,0.28);
	-webkit-box-shadow: -4px 6px 9px 3px rgba(0,0,0,0.28);
	-moz-box-shadow: -4px 6px 9px 3px rgba(0,0,0,0.28);
	border-radius: 8px;
	padding: 15px;
}

.calendario{

	height: 1000px !important;
	width: 100% !important;
	margin: 0 auto !important;;
	
}

.footer img{
	display: block;
	width: 25px;
	margin: 5px auto;
}

a img{
	display: block;
	margin: 0 auto;
	width: 25px;
}

.descargas{
	background: rgb(202,200,230);
	background: linear-gradient(90deg, rgba(202,200,230,1) 0%, rgba(91,140,229,0.6811099439775911) 84%, rgba(91,140,229,0.6418942577030813) 100%);
	border-radius: 10px;
	padding: 25px 10px;
}